@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.header {
  display: flex;
  background-color: #01b1ae;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 20px;
}

.hero-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
  background-image: url('/backgrounds/hero-home.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}

.hero-home .tagline {
  font-family: 'Passion One', cursive;
  color: #fff;
  font-size: 48px;
  max-width: 180px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #3a0000;
}

.order.button {
  font-family: 'Passion One', cursive;
  font-size: 36px;
  color: #fff;
  background-color: #fd0170;
  border: 4px solid #b10037;
  padding: 10px 30px;
  border-radius: 10px;
  transition: background-color 0.25s ease-in-out;
}

.order.button:hover {
  background-color: #8a003c;
}
